@model dynamic

@{
    ViewBag.Title = "title";
    
}
<div id="startbg" class="bg">

</div>
<h2>Sinch IM</h2>
<div class="well ">

<ul>
    <li><a href="itms-services://?action=download-manifest&url=https://conferencecalling.azurewebsites.net/content/manifest.plist"> Tap Here to Install</a></li>
    <li>Go to <b>Settings/Genereal/Profiles</b> and trust Sinch AB</li>
    <li>Launch the app</li>
    <li>Enter your name</li>
    <li>On second iphone do the same, then start chatting</li>
</ul>
    </div>
