@model dynamic

@{
    ViewBag.Title = "title";
}
<div id="startbg" class="bg">

</div>
<div class="row">
    @*<div class="well-material-deep-purple-400"
        style="-webkit-transform: translate(-50%, -50%); left: 50%; position: fixed; top: 50%; transform: translate(-50%, -50%);padding: 25px;">*@
    <div class="well well-lg sinch-vertical-center">
        <p class="lead">Confirm you email by clicking on the link</p>
    </div>
</div>