@{
    ViewBag.Title = "Reset password confirmation";
}
<div id="startbg" class="bg">

</div>

<div class="row">
    <div class="well well-lg sinch-vertical-center">
        oops, something went wrong
    </div>
</div>